# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Playwright browsers (optional safety)
playwright-report/
test-results/

# OS files
.DS_Store
Thumbs.db
